 <div>
    <h1 style="text-align:center ;" >Calculator</h1>
  <br>
  
    <div style="margin: auto;
    width: 60%;
    border: 5px solid lightblue;
    padding: 10px;">
    <button value="0" style="margin-right:10px ;"(click)="CB(0)">0</button>
    
    <button style="margin-right:10px ;" (click)="CB(1)">1</button>
    <button style="margin-right:10px ;"(click)="CB(2)">2</button>
    <button style="margin-right:10px ;"(click)="CB(3)">3</button>
    <button style="margin-right:10px ;"(click)="CB(4)">4</button>
    <button style="margin-right:10px ;"(click)="CB(5)">5</button>
    <button style="margin-right:10px ;"(click)="CB(6)">6</button>
    <button style="margin-right:10px ;"(click)="CB(7)">7</button>
    <button style="margin-right:10px ;"(click)="CB(8)">8</button>
    <button style="margin-right:10px ;"(click)="NP(9)">9</button>
    <button style="margin-right:10px ;"(click)="ADOP('+')" >+</button>
    <button style="margin-right:10px ;"(click)="ADOP('-')" >-</button>
    <button style="margin-right:10px ;"(click)="ADOP('*')" >*</button>
    <button style="margin-right:10px ;"(click)="ADOP('/')" >/</button>
    <button style="margin-right:10px ;">=</button>
    </div>
    <textarea>{{D}}</textarea>
    <textarea>{{TY}}</textarea>

    </div>
  